/* article.index */

.theme-overlay {
  height: 100%;
  width: 100%;
}


.index-img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* 플립 호버 시작 */
.flip-box {
  width: 300px;
  height: 400px;
  perspective: 1000px;
}

.flip-box:hover .flip {
  transform: rotateY(-180deg);
}

.flip {
  width: 100%;
  height: 100%;
  position: relative;
  color: white;
  text-align: center;
  line-height: 400px;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: .5s;
}

.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

/* .front {
  background: skyblue;
} */

.back {
  background: orange;
  transform: rotateY(180deg);
}

/* 플립 호버 끝 */

/* navigation bar */

.nav-logo {
  width: 3.5rem;
  margin-right: 1rem;
}

.nav-login-name {
  text-decoration: none;
  color: rgb(112, 112, 113);
}

.nav-login-name:hover {
  color: black;
  transition: all 0.5s ease;
}

/* article.search */
.search-box {
  position: sticky;
  z-index: 100;
  top: 0px;
  padding: 1rem;
  background-color: rgb(242, 232, 225);
}

.search {
  margin: 0 auto;
  width: 80%;
}

.popular {
  position: absolute;
  display: none;
  width: 75%;
  top: 3.6rem;
  z-index: 100;
  left: 50%;
  transform: translate(-50%);
  padding: 1rem 4rem;
  border-radius: 10px;
  background-color: rgb(236, 236, 236);
}


.active {
  display: block;
}

.popular-click {
  font-weight: 700;
  text-decoration: none;
  color: rgb(121, 115, 112);
}

.popular-click:hover {
  color: rgb(141, 74, 26);
  transition: all 0.5s ease;
}

.search-card {

  margin: 1.5rem;
  border: 0px;
  box-shadow: 6px 8px 7px rgb(242, 232, 225);
}

.search-card-image-box {
  height: 300px;
  width: 100%;
  background-color: rgb(184, 184, 184);
}

.search-card-image {
  height: 300px;
  width: 100%;
}


/* accounts.detail 페이지 */
.detail-user {
  margin: 2rem 0;
}

.detail-user-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-user-image {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
}

.detail-user-words {
  margin-left: 2rem;
}


@media only screen and (max-width: 800px) {
  .detail-user-info {
    flex-direction: column;
  }

  .detail-user-words {
    margin: 2rem 0;
  }

  .detail-user-image {
    width: 15rem;
    height: 15rem;
  }

  .detail-user-cate {
    font-size: 1.2rem;
  }
}

/* follow */

#follow-cnt {
  display: flex;
}

.follow {
  margin: 1rem 1rem;
}

/* detail.page review */
.user-page-review {
  margin: 1rem 0;
}

.user-page-review-image {
  margin-right: 1rem;
  width: 200px;
  height: 150px;
}

/* review.detail */
.carousel-item {
  position: relative;
  height: 400px;
  background-color: rgb(112, 112, 113);
}

.carousel-image {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  height: 100%;
}

.review-main {
  margin: 2rem 4rem;
  padding: 2rem;
  border-radius: 10px;
  background-color: rgb(240, 240, 240);
}

.bi-heart,
.bi-heart-fill {
  margin-right: 1rem;
  color: rgb(236, 100, 8);
  font-size: 1.5rem;
}

.bi-heart:hover,
.bi-heart-fill:hover {
  cursor: pointer;
}

.comment-box {
  margin: 2rem 4rem;
  padding: 2rem;
}

.comment {
  margin: 1.5rem 5px;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 2px 4px 6px rgb(184, 184, 184);
}

.comment-user-info {
  display: flex;
  align-items: center;
}

.comment-user-image {
  margin-right: 1rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
.comment-form{
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}