/* navigation bar */

.nav-logo{
  width: 3.5rem;
  margin-right: 1rem;
}

.nav-login-name{
  text-decoration: none;
  color: rgb(112,112,113);
}

.nav-login-name:hover{
  color: black;
  transition: all 0.5s ease;
}

/* accounts.detail 페이지 */
.detail-user-info{
  display:flex;
  justify-content: center;
  align-items: center;
}

.detail-user-image{
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
}

.detail-user-words{
  margin-left: 2rem;
}


@media only screen and (max-width: 800px) {
  .detail-user-info{
    flex-direction: column;
  }

  .detail-user-words{
    margin: 2rem 0;
  }

  .detail-user-image{
    width: 15rem;
    height: 15rem;
  }
  .detail-user-cate{
    font-size: 1.2rem;
  }
}

/* follow */

#follow-cnt{
  display: flex;
}

.follow{
  margin: 1rem 1rem;
}