{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container d-flex flex-column align-items-center">

    <h1>비밀번호 변경</h1>
    
    <form action="" style="margin-top:20px;" method="POST" method="POST" enctype="multipart/form-data">
            <div class="form_container">
                {% csrf_token %}
                {% bootstrap_form form %}   
            </div>
            <div class = "d-flex justify-content-center margint-top:5px; ">
                <button class = 'btn btn-outline-primary' style = "margin:5px;"  type="submit">수정</button>
                <a href="{% url 'accounts:detail' user.id %}">
                    <button class='btn btn-outline-danger' style = "margin:5px;" type="button" >취소</button>
                </a>
            </div>

</div>
{% endblock content %}