{% extends 'base.html' %}
{% load static %}
{% block title %}{{ user.profile_name }}님의 페이지{% endblock title %}

{% block content %}
<div class="search-box">
  <form action="{%url 'articles:search' %}" class="search d-flex" role="search" method="">
    <input type="text" style="display:none" autocomplete="off">
    <input type="password" style="display:none" autocomplete="off">
    <input class="form-control me-2" name="searched" type="search" placeholder="Search" aria-label="Search" autocomplete="off">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
  <div class="popular">
    <h4 class="text-center">인기 검색어</h4>
    <div class="popular-detail d-flex justify-content-evenly">
      <div class="area_keyword" style="">
      {% for p in popular%}
          {% if forloop.counter <= 5 %}
          <h6><a class="popular-click" href="{%url 'articles:search' %}?searched={{p.title}}"><span class="badge text-bg-warning">{{ forloop.counter }}</span> {{p.title}}</h6></a>
          {% endif %}
      {% endfor %}
      </div>
      <div class="area_keyword" style="">
      {% for p in popular%}
          {% if forloop.counter > 5 %}
            <h6><a class="popular-click" href="{%url 'articles:search' %}?searched={{p.title}}"><span class="badge text-bg-warning">{{ forloop.counter }}</span> {{p.title}}</h6></a>
          {% endif %}
      {% endfor %}
      </div>
    </div>
  </div>
</div>

<section class="detail-user review-main">
  <h1 class='text-center'>{{ user.profile_name }}님의 페이지</h1>
  <div class="detail-user-info">
    <img class="detail-user-image" src="{{ user.profile_image.url }}" alt="{{ user.profile_image }}">
    <div class='detail-user-words'>
      <h3 class='detail-user-cate'>닉네임: {{ user.profile_name }}</h3>
      <h3 class='detail-user-cate'>유저 등급: 
        {% if user.rank >= 50 %} <i class="bi bi-5-square-fill text-primary"></i> 레벨5 
        {% elif user.rank >= 40 %} <i class="bi bi-4-square-fill text-secondary"></i> 레벨4 
        {% elif user.rank >= 30 %} <i class="bi bi-3-square-fill text-success"></i> 레벨3
        {% elif user.rank >= 20 %} <i class="bi bi-2-square-fill text-danger"></i> 레벨2
        {% elif user.rank >= 10 %} <i class="bi bi-1-square-fill text-warning"></i> 레벨1
        {% elif user.rank >= 0 %} <i class="bi bi-0-square-fill text-warning"></i> 레벨0
        {% endif %}</h3>
        <div class="my-1 progress">
          {% if user.rank >= 50 %}
            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Full level up!</div>
          {% else %}
            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: {{ rank_percent }}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{ rank_percent }}%</div>
          {% endif %}
        </div>
      <h3 class='detail-user-cate'>이메일 주소: {{ user.email }}</h3>
      <h3 class='detail-user-cate'>유저 이름: {{ user.last_name }} {{ user.first_name }} </h3>
      <h3 class='detail-user-cate'>가입한 날짜: {{ user.date_joined.date }}</h3>
      <a class="btn btn-primary" href="{% url 'articles:index' %}" role="button">뒤로가기</a>
      {% if request.user == user %}
      <a class="btn btn-outline-danger" href="{% url 'accounts:edit_profile' user.pk %}" role="button">회원 정보 수정</a>
      {% endif %}
    </div>
  </div>
</section>

<section class="review-main follow my-5 d-flex flex-column align-items-center">
  <div class="btn">
  {% if request.user != user %}
  {% if request.user not in followers %}
  <button type="button" id="follow-btn" data-user-id="{{ user.pk }}" class="btn btn-outline-success">Follow</button>
  {% else %}
  <button type="button" id="follow-btn" data-user-id="{{ user.pk }}" class="btn btn-outline-danger">Unfollow</button>
  {% endif %}
  {% endif %}
  </div>
  <div id="follow-cnt">
    <h3 class="follow">Followers : {{ followers.count }}</h3>
    <h3 class="follow">Followings : {{ followings.count }}</h3>
  </div>
</section>
<section class='container comment-box'>
  <h2 class="text-center">유저가 쓴 리뷰 <span class='fs-4'>| {{ reviews.count }}</span></h2>
  {% for review in reviews %}
  <a href="{% url 'articles:review_detail' review.pk %}">
    <div class="user-page-review d-flex align-items-center comment">
      {% if review.photo_set.all %}
        {% for photo in review.photo_set.all %}
          {% if forloop.first %}
          <img class="user-page-review-image" src="{{ photo.image.url }}" alt="">
          {% endif %}
          {% endfor %}
      {% else %}
          <img class="user-page-review-image" src="{% static 'images/noimg.jpg' %}" alt="">
      {% endif %}
      <div class="user-review-detail">
        <p>제목: {{ review.title }}</p>
        <p>장소: {{ review.place }}</p>
        <p>수정된 날짜: {{ review.updated_at }}</p>
      </div>
    </div>
  </a>

  {% endfor %}
</section>
{% endblock content %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

{% comment %} following 기능 {% endcomment %}
<script>
  const followBtn = document.querySelector('#follow-btn')

  followBtn.addEventListener('click', function(event) {
    axios({
      method: 'get',
      url: `/accounts/${event.target.dataset.userId}/follow/`
    })
    .then(response => {
      console.log(response.data)
      if (response.data.isFollowing === true) {
        event.target.classList.add('btn-outline-danger')
        followBtn.innerText = 'Unfollow'
        event.target.classList.remove('btn-outline-success')
      } else {
        event.target.classList.add('btn-outline-success')
        followBtn.innerText = 'Follow'
        event.target.classList.remove('btn-outline-danger')
      }

      const followCnt = document.querySelector('#follow-cnt')
      followCnt.innerHTML = `
        <h3 class="follow">Followers : ${ response.data.followers }</h3>
        <h3 class="follow">Followings : ${ response.data.followings }</h3>
      `
    })
  })

</script>
{% endblock script %}