{% extends 'base.html' %}

{% block content %}

<div class="container">

    <h2>{{user}} 프로필</h2>
    <form action="" method="POST" method="POST" enctype="multipart/form-data">
    <div class = 'd-flex' style="margin-top:10px;">
        <div style = 'margin:10px; margin-right:5px;'>
            <label for="input-image">
                <img style="width:200px; height:200px;margin:5px;" id="preview-image" src="{{ user.profile_image.url }}">
            </label>
            <input style="display: none;" type="file" id="input-image" name="image">
        </div>
        <div class="form_container">
            <p>아이디 : {{user.username}}</p>
            {% csrf_token %}
            {{ form.as_p }}
            <a href = "{% url 'accounts:change_password' user.pk %}" >비밀번호 변경</a>
        </div>
    </div>
    
    <script>
        function readImage(input) {
            // 인풋 태그에 파일이 있는 경우
          if(input.files && input.files[0]) {
              // 이미지 파일인지 검사 (생략)
              // FileReader 인스턴스 생성
              const reader = new FileReader()
              // 이미지가 로드가 된 경우
              reader.onload = e => {
                  const previewImage = document.getElementById("preview-image")
                  previewImage.src = e.target.result
                }
              // reader가 이미지 읽도록 하기
              reader.readAsDataURL(input.files[0])
          }
      }
      // input file에 change 이벤트 부여
      const inputImage = document.getElementById("input-image")
      inputImage.addEventListener("change", e => {
          readImage(e.target)
      })



      </script>



<input type="submit" value="수정">
<a href="{% url 'accounts:detail' user.id %}">
    <button type="button" >취소</button>
</a>

</form>

</div>
{% endblock content %}