{% extends 'base.html' %}

{% block content %}


    <div class = 'container d-flex flex-column justify-content-center align-items-center' style = 'margin-top:20px;'>
        
        <h1 style = 'margin-top:20px;' > 비밀 번호 찾기 </h1>
        {% if step == 1 %}
        <form class = "d-flex justify-content-center align-items-center" action="{% url 'accounts:find_password' 2 %}" style="margin-top:20px; margin-bottom:20px;" method="POST">
            {% csrf_token %}
            <label for="email">이메일</label>
            <input type="email" name ='email'>
            <input type="submit" value="OK">
        </form>
        
        <p> 회원가입시 입력하신 이메일을 입력해주세요. </p>
        {% endif %}

        {% if step == 2 %}        
        <form class = "d-flex justify-content-center align-items-center" action="{% url 'accounts:find_password' 3 %}" style="margin-top:20px; margin-bottom:20px;" method="POST">
            {% csrf_token %}
            <label for="code">코드 입력</label>
            <input type="text" name ='code'>
            <input type="submit" value="OK">
        </form>
        
        <p> 전송 받으신 코드를 입력해 주세요. </p>
        {% endif %}

        {% if step == 3 %}
        <form class = "d-flex flex-column justify-content-center align-items-center"  action="{% url 'accounts:find_password' 4 %}" style="margin-top:20px; margin-bottom:20px; " method="POST">
            {% csrf_token %}
            <label for="code">비밀 번호</label>
            <input type="password" name ='password1'>
            <label for="code">비밀 번호 확인</label>
            <input type="password" name ='password2'>
            <input type="submit" value="OK">
        </form>
        
        <p> 변경하실 비밀 번호를 입력해 주세요. </p>
        {% endif %}

    </div>
     

    



{% endblock content %}