{% extends 'base.html' %}

{% load django_bootstrap5 %}
{% block content %}
  <div class="search-box">
    <form action="{%url 'articles:search' %}" class="search d-flex" role="search" method="">
      <input type="text" style="display:none" autocomplete="off">
      <input type="password" style="display:none" autocomplete="off">
      <input class="form-control me-2" name="searched" type="search" placeholder="Search" aria-label="Search" autocomplete="off">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <div class="popular">
      <div class="mb-4 d-flex justify-content-center align-items-center">
        <h4 class="text-center mb-0">인기 검색어</h4>
        <button type="button" class="close-popular ms-3 btn btn-outline-danger btn-sm" style="font-size: 0.3rem; height:1.5rem;">닫기</button>
      </div>
      <div class="popular-detail d-flex justify-content-evenly">
        <div class="area_keyword" style="">
        {% for p in popular%}
            {% if forloop.counter <= 5 %}
            <h6><a class="popular-click" href="{%url 'articles:search' %}?searched={{p.title}}"><span class="badge text-bg-warning">{{ forloop.counter }}</span> {{p.title}}</h6></a>
            {% endif %}
        {% endfor %}
        </div>
        <div class="area_keyword" style="">
        {% for p in popular%}
            {% if forloop.counter > 5 %}
              <h6><a class="popular-click" href="{%url 'articles:search' %}?searched={{p.title}}"><span class="badge text-bg-warning">{{ forloop.counter }}</span> {{p.title}}</h6></a>
            {% endif %}
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
  
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner bg-dark" style="">
      {% for photo in review.photo_set.all %}

        <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">
          <img class='carousel-image' src="{{ photo.image.url }}" alt="">
        </div>
      {% endfor %}

    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <section class="review-main">
    <section>
      <h1 class="review-title">{{ review.title }}</h1>
      <h4 class="review-user">
        <span class="fs-5">written by</span>
        |
        <a class="review-user-profile-name" href="{% url 'accounts:detail' review.user.pk %}">{{ review.user.profile_name }}</a></h4>
      <h6 class="review-updated text-muted">{{ review.updated_at }}</h6>
      <div class="heart d-flex align-items-end">
        {% if request.user.is_authenticated %}
          {% if request.user not in review.like_users.all %}
            <i data-like-id="{{ review.pk }}" id="like-btn" class="bi bi-heart"></i>
          {% else %}
            <i data-like-id="{{ review.pk }}" id="like-btn" class="bi bi-heart-fill"></i>
          {% endif %}
        {% endif %}
        <h6 class="likes text-muted">|
          {{ review.like_users.count }}명이 이 글을 좋아해요</h6>
      </div>
      {% if request.user == review.user %}
        <a href="{% url 'articles:review_update' review.pk %}" class="btn btn-outline-primary btn-sm">수정하기</a>
        <a href="{% url 'articles:review_delete' review.pk %}" class="btn btn-outline-danger btn-sm">삭제하기</a>
      {% endif %}
      <hr>
      <h3 class="review-place">{{ review.place }}
        |
        {{ review.theme }}</h3>

    </section>

    <section class="mt-5">
      <h3>{{ review.content }}</h3>
    </section>
  </section>

  <section class="comment-box">
    {% if request.user.is_authenticated %}
      <form id="comment-form" data-review-id="{{ review.pk }}" action="{%url 'articles:comment_create' review.pk %}" method="POST">
        {% csrf_token %}
        {% bootstrap_form comment_form %}
        <input class="btn btn-success" type="submit" value="제출">
      </form>
    {% endif %}
    <div id="comments" class="comments">
      {% for comment in comments %}
        <div class="comment">
          <h4>{{comment.user}}
            -
            {{ comment }}</h4>
          <hr>

          <div class="comment-user-info justify-content-between">
            <div>
              <img class="comment-user-image" src="{{ comment.user.profile_image.url }}" alt="">
              <div class="comment-user-detail">
                <div>
                  <h5>{{ comment.user.profile_name }}</h5>
                  <h5>{{ comment.created_at }}</h5>
                </div>
              </div>
            </div>
            {% if request.user.pk == comment.user.pk %}
              <div>
                <div id="form-comment-update-{{ comment.pk }}" style="display:none;">
                  <input id="input-{{ comment.pk }}" type="text" value="{{comment.content}}">
                  <button class="btn btn-outline-primary comment" onclick="ok_function(this)" id="okBtn-{{ comment.pk }}" data-reviewup-id="{{ review.pk }}" data-commentup-id="{{ comment.pk }}">확인</button>
                </div>
                <button class="btn btn-outline-primary comment" onclick="update_comment(this)" id="comment-update-{{ comment.pk }}" data-reviewup-id="{{ review.pk }}" data-commentup-id="{{ comment.pk }}">수정</button>
                <button class="btn btn-outline-danger comment" onclick="delete_comment(this)" id="comment-delete-{{ comment.pk }}" data-reviewdel-id="{{ review.pk }}" data-commentdel-id="{{ comment.pk }}">삭제</button>
              </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
  {% endblock %}

  {% block script %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      //좋아요 비동기
      const likeBtn = document.querySelector('#like-btn')

      likeBtn.addEventListener('click', function (event) {
        console.log(event.target.dataset)
        axios({method: 'get', url: `/articles/${event.target.dataset.likeId}/like/`}).then(response => {
          console.log(response.data)
          if (response.data.isLike === true) {
            event
              .target
              .classList
              .add('bi-heart-fill')
            event
              .target
              .classList
              .remove('bi-heart')
          } else {
            event
              .target
              .classList
              .add('bi-heart')
            event
              .target
              .classList
              .remove('bi-heart-fill')
          }
          const likeCount = document.querySelector('.likes')
          likeCount.innerHTML = `
          <h6 class="likes m-0 text-muted ">| ${response.data.likeCount}명이 이 글을 좋아해요</h6>
        `
        })
      })
    </script>
    <script>
      //댓글 생성 비동기
      const commentForm = document.querySelector('#comment-form')
      const csrftoken = document
        .querySelector('[name=csrfmiddlewaretoken]')
        .value

        commentForm
        .addEventListener('submit', function (event) {
          event.preventDefault();
          axios({
            method: 'post',
            url: `/articles/${event.target.dataset.reviewId}/comment_create/`,
            headers: {
              'X-CSRFToken': csrftoken
            },
            data: new FormData(commentForm)
          })
            .then(response => {
              console.log(response)
              const comments = document.querySelector('#comments')
              comments.textContent = "";
              const hr = document.createElement('hr')
              const comment_data = response.data.comment_data
              const user = response
                .data
                .user
                for (let i = 0; i < comment_data.length; i++) {
                  const review_pk = response
                    .data
                    .review_pk
                    console
                    .log(comment_data[i].id, user)
                  if (user === comment_data[i].id) {
                    comments.insertAdjacentHTML('beforeend', `
                    <div class="comment">
                      <h4>${comment_data[i].userName} - ${comment_data[i].content}</h4>
                      <hr>
                      <div class="comment-user-info justify-content-between">
                        <div>
                          <img class="comment-user-image" src="${comment_data[i].profile_image}" alt="">
                          <div class="comment-user-detail">
                            <h5>${comment_data[i].profile_name}</h5>
                            <h5>${comment_data[i].created_at}</h5>
                          </div>
                        </div>
                        <div>
                          <div id="form-comment-update-${comment_data[i].commentPk}" style="display:none;">
                            <input class="comment-box" id="input-${comment_data[i].commentPk}" type="text" value="${comment_data[i].content}">
                            <button class="btn btn-outline-primary comment" onclick="ok_function(this)" id="okBtn-${comment_data[i].commentPk}" data-reviewup-id="${review_pk}" data-commentup-id="${comment_data[i].commentPk}">수정</button>
                          </div>
                            <button class="btn btn-outline-primary comment" onclick="update_comment(this)" id="comment-update-${comment_data[i].commentPk}" data-reviewup-id="${review_pk}" data-commentup-id="${comment_data[i].commentPk}">수정</button>
                            <button class="btn btn-outline-danger comment" onclick="delete_comment(this)" id="comment-delete-${comment_data[i].commentPk}" data-reviewdel-id="${review_pk}" data-commentdel-id="${comment_data[i].commentPk}">삭제</button>
                        </div>
                      </div>
                    </div>
                  `);
                  } else {
                    comments.insertAdjacentHTML('beforeend', `
                    <div class="comment">
                      <h4>${comment_data[i].userName} - ${comment_data[i].content}</h4>
                      <hr>
                      <div class="comment-user-info">
                        <img class="comment-user-image" src="${comment_data[i].profile_image}" alt="">
                        <div class="comment-user-detail">
                          <h5>${comment_data[i].profile_name}</h5>
                          <h5>${comment_data[i].created_at}</h5>
                        </div>
                      </div>
                    </div>
                  `);
                  }
                }
                commentForm
                .reset()
            })
            .catch(console.log(1))
          })
    </script>
    <script>
      // 댓글 삭제 비동기
      const delete_comment = (e) => {
        const comment_id = document
          .querySelector(`#${e.id}`)
          .id;
        axios({
          method: 'post',
          url: `/articles/${event.target.dataset.reviewdelId}/comment_delete/${event.target.dataset.commentdelId}/delete`,
          headers: {
            'X-CSRFToken': csrftoken
          }
        }).then(response => {
          console.log(response)
          const comments = document.querySelector('#comments')
          comments.textContent = "";
          const hr = document.createElement('hr')
          const comment_data = response.data.comment_data
          const user = response.data.user
          for (let i = 0; i < comment_data.length; i++) {
            const review_pk = response.data.review_pk
            if (user === comment_data[i].id) {
              comments.insertAdjacentHTML('beforeend', `
              <div class="comment">
                <h4>${comment_data[i].userName} - ${comment_data[i].content}</h4>
                <hr>
                <div class="comment-user-info justify-content-between">
                  <div>
                    <img class="comment-user-image" src="${comment_data[i].profile_image}" alt="">
                    <div class="comment-user-detail">
                      <h5>${comment_data[i].profile_name}</h5>
                      <h5>${comment_data[i].created_at}</h5>
                    </div>
                  </div>
                  <div>
                    <div id="form-comment-update-${comment_data[i].commentPk}" style="display:none;">
                      <input class="comment-box" id="input-${comment_data[i].commentPk}" type="text" value="${comment_data[i].content}">
                      <button class="btn btn-outline-primary comment" onclick="ok_function(this)" id="okBtn-${comment_data[i].commentPk}" data-reviewup-id="${review_pk}" data-commentup-id="${comment_data[i].commentPk}">수정</button>
                    </div>
                      <button class="btn btn-outline-primary comment" onclick="update_comment(this)" id="comment-update-${comment_data[i].commentPk}" data-reviewup-id="${review_pk}" data-commentup-id="${comment_data[i].commentPk}">수정</button>
                      <button class="btn btn-outline-danger comment" onclick="delete_comment(this)" id="comment-delete-${comment_data[i].commentPk}" data-reviewdel-id="${review_pk}" data-commentdel-id="${comment_data[i].commentPk}">삭제</button>
                  </div>
                </div>
              </div>
                `);
            } else {
              comments.insertAdjacentHTML('beforeend', `
              <div class="comment">
                <h4>${comment_data[i].userName} - ${comment_data[i].content}</h4>
                <hr>
                <div class="comment-user-info">
                  <img class="comment-user-image" src="${comment_data[i].profile_image}" alt="">
                  <div class="comment-user-detail">
                    <h5>${comment_data[i].profile_name}</h5>
                    <h5>${comment_data[i].created_at}</h5>
                  </div>
                </div>
              </div>
                `);
            }
          }
        })
      }
    </script>
    <script>
      // 댓글 수정 비동기
      const ok_function = (e) => {
        const commentId = event.target.dataset.commentupId
        const reviewId = event.target.dataset.reviewupId
        const inputCommentPk = document.querySelector(`#input-${commentId}`)

        axios({
          method: 'post',
          url: `/articles/${event.target.dataset.reviewupId}/comment_update/${event.target.dataset.commentupId}/update`,
          headers: {
            'X-CSRFToken': csrftoken
          },
          data: {
            'content': inputCommentPk.value
          }
        }).then(response => {
          const comments = document.querySelector('#comments')
          comments.textContent = "";
          const hr = document.createElement('hr')
          const comment_data = response.data.comment_data
          const user = response.data.user
          for (let i = 0; i < comment_data.length; i++) {
            const review_pk = response.data.review_pk
            if (user === comment_data[i].id) {
              comments.insertAdjacentHTML('beforeend', `
              <div class="comment">
                <h4>${comment_data[i].userName} - ${comment_data[i].content}</h4>
                <hr>
                <div class="comment-user-info justify-content-between">
                  <div>
                    <img class="comment-user-image" src="${comment_data[i].profile_image}" alt="">
                    <div class="comment-user-detail">
                      <h5>${comment_data[i].profile_name}</h5>
                      <h5>${comment_data[i].created_at}</h5>
                    </div>
                  </div>
                  <div>
                    <div id="form-comment-update-${comment_data[i].commentPk}" style="display:none;">
                      <input class="comment-form" id="input-${comment_data[i].commentPk}" type="text" value="${comment_data[i].content}">
                      <button class="btn btn-outline-primary comment" onclick="ok_function(this)" id="okBtn-${comment_data[i].commentPk}" data-reviewup-id="${review_pk}" data-commentup-id="${comment_data[i].commentPk}">수정</button>
                    </div>
                      <button class="btn btn-outline-primary comment" onclick="update_comment(this)" id="comment-update-${comment_data[i].commentPk}" data-reviewup-id="${review_pk}" data-commentup-id="${comment_data[i].commentPk}">수정</button>
                      <button class="btn btn-outline-danger comment" onclick="delete_comment(this)" id="comment-delete-${comment_data[i].commentPk}" data-reviewdel-id="${review_pk}" data-commentdel-id="${comment_data[i].commentPk}">삭제</button>
                  </div>
                </div>
              </div>
          `);
            } else {
              comments.insertAdjacentHTML('beforeend', `
              <div class="comment">
                <h4>${comment_data[i].userName} - ${comment_data[i].content}</h4>
                <hr>
                <div class="comment-user-info">
                  <img class="comment-user-image" src="${comment_data[i].profile_image}" alt="">
                  <div class="comment-user-detail">
                    <h5>${comment_data[i].profile_name}</h5>
                    <h5>${comment_data[i].created_at}</h5>
                  </div>
                </div>
              </div>
          `);
            }
          }
        })

      }
      const update_comment = (e) => {
        const comment_id = document
          .querySelector(`#${e.id}`)
          .id
        const input = document.createElement('input')
        const comment = document.querySelector('#comment')
        const span = document.createElement('span')
        const comment_update_form = document.querySelector(`#form-${e.id}`)
        const comment_update = document.querySelector(`#${e.id}`)
        comment_update_form.style.display = ""
        comment_update.style.display = "none"
      }
    </script>
  {% endblock script %}