{% extends 'base.html' %}
{% block content %}
{% load static %}
{% comment %} 검색바 {% endcomment %}
  {% comment %} <div class="search-box">
    <form action="{%url 'articles:search' %}" class="search d-flex" role="search" method="">
      <input type="text" style="display:none">
      <input type="password" style="display:none">
      <input class="form-control me-2" name="searched" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div> {% endcomment %}

  <main class="container  my-3" style="border-radius:2%; width:920px;">
    {% comment %} 메인 페이지 윗단 {% endcomment %}
    <section class="row ">
      {% comment %} 인기게시글 {% endcomment %}
      <div class=" col-7" style="border-radius:2%;">  
        <h3 class="text-center my-2">인기게시글</h3>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" >
          <div class="carousel-inner bg-dark" style="border-radius: 2%">
              {% for photo in pop_photos %}
                <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">
                  <a href="{%url 'articles:review_detail' photo.review.pk %}">
                    <img class='carousel-image index-img' src="{{ photo.image.url }}" alt="" style="border-radius: 2%">
                  </a>
                  <div class="carousel-caption d-none d-md-block">
                    <h5 class="bg-light p-2 text-dark bg-opacity-50">
                      {{ forloop.counter }}위. {{ photo.review.title }}</h5>
                  </div>
                </div>
                
              {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
      </div>
      {% comment %} 인기검색어 {% endcomment %}
      <div class=" col-5" style="border-radius:2%;">
          <h3 class="text-center">인기 검색어</h3>
          <div class="index-search">
            <div class="index-search-box">
              <form action="{%url 'articles:search' %}" class="search d-flex" role="search" method="">
                <input type="text" style="display:none">
                <input type="password" style="display:none">
                <input class="form-control me-2" name="searched" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
            <div class="d-flex justify-content-center" style="padding:1.2rem 0">
              <div class="col-6 area_keyword" style="">
                {% for p in popular%}
                  {% if forloop.counter <= 5 %}
                  <h3 class="my-3"><a class="popular-click" href="{%url 'articles:search' %}?searched={{p.title}}"><span class="badge text-bg-warning">{{ forloop.counter }}</span> <span class="index-search-popular">{{p.title}}</span></h3></a>
                  {% endif %}
                {% endfor %}
              </div>
              <div class="co1-6 area_keyword" style="">
              {% for p in popular%}
                  {% if forloop.counter > 5 %}
                  <h3 class="my-3"><a class="popular-click" href="{%url 'articles:search' %}?searched={{p.title}}"><span class="badge text-bg-warning">{{ forloop.counter }}</span> <span class="index-search-popular">{{p.title}}</span></h3></a>
                  {% endif %}
              {% endfor %}
              </div>
            </div>
          </div>
      </div>
    </section>
    {% comment %} 메인 페이지 아랫단 {% endcomment %}
    <h3 class="text-center mt-3"> 테마별 여행지 검색 </h3>
    <section class="row ">    
      <div class="flip-box  col-4" style="">
        <div class="flip">
          <div class="front">
            <img class="index-img" src="{% static 'images/activity.jpg' %}" alt=""  style="border-radius:2%;">
          </div>
          <div class="back fs-3"><a href="{% url 'articles:search' %}?searched=activity">액티비티</a></div>
        </div>
      </div>
      <div class="flip-box  col-4" style="">
        <div class="flip">
          <div class="front">
            <img class="index-img" src="{% static 'images/food.jpg' %}" alt=""  style="border-radius:2%;" >
          </div>
          <div class="back fs-3"><a href="{% url 'articles:search' %}?searched=food">푸드</a></div>
        </div>
      </div>
      <div class="flip-box  col-4" style="">
        <div class="flip">
          <div class="front">
            <img class="index-img" src="{% static 'images/healing.jpg' %}" alt="" style="border-radius:2%;"></a>
          </div>
          
          <div class="back fs-3"><a href="{% url 'articles:search' %}?searched=healing">힐링</a></div>
        </div>
      </div>
    </section>
    <section class="row my-5">    
      <class="col-12" style="">
        <a href="{% url 'articles:maps2' %}"><h2>내 주변 가볼만 한곳 검색하기</h2></a>
        <img class="index-img" src="{% static 'images/map.png' %}" alt=""  style="border-radius:2%;">
    </section>
  </main>


{% endblock %}
