{% extends 'base.html' %}
{% block content %}
  <div class="search-box">
    <form action="{%url 'articles:search' %}" class="search d-flex" role="search" method="">
      <input type="text" style="display:none">
      <input type="password" style="display:none">
      <input class="form-control me-2" name="searched" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
  <h2>인기 검색어</h2>
  {% for p in popular_search%}
    <div class="area_keyword" style="">
      <ul id="p_search_hd1" style="list-style:none">
        <li>
          <h4>
            <span class="num">{{ forloop.counter }}:</span>
            {{p.title}}
          </h4>
        </li>
      </ul>
    </div>
  {% endfor %}


{% endblock %}
