<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
  </head>

  <body>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <button type="button" onclick="getCurrentPosBtn()" class="btn btn-lg btn-primary" id="getMyPositionBtn">내 위치 가져오기</button>
    <div id="map" style="width:100%;height:750px;"></div>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d9fda4fd5db5874a79135abda1b8db8e&libraries=services"></script>
    <script>
      var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
          center: new kakao
            .maps
            .LatLng(37.56646, 126.98121), // 지도의 중심좌표
          level: 4, // 지도의 확대 레벨
          mapTypeId: kakao.maps.MapTypeId.ROADMAP // 지도종류
        };

      // 지도를 생성한다
      var map = new kakao.maps.Map(mapContainer, mapOption);
      var final
      function locationLoadSuccess(pos) {
        // 현재 위치 받아오기
        const x = pos.coords.latitude
        const y = pos.coords.longitude

        axios({
          method: 'get',
          url: `/articles/maps/${x}/${y}`,
        })
        .then(response => {
          const res = response.data.res
          console.log(res.length)
          for (let i=0; i< res.length; i++){
            if (res[i].cat1 === "A05"){
              var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_red.png"
            }
            else{
              var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png"; 
            }
            var imageSize = new kakao.maps.Size(24, 35); 
            // 마커 이미지를 생성합니다    
            var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize); 
            // 마커를 생성합니다
            var marker = new kakao.maps.Marker({
              map: map, // 마커를 표시할 지도
              position:  new kakao.maps.LatLng(res[i].mapy, res[i].mapx), // 마커를 표시할 위치
              title : [res[i].title,res[i].addr1], // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
              image : markerImage // 마커 이미지 
            });
          }

        })
        var currentPos = new kakao.maps.LatLng(pos.coords.latitude, pos.coords.longitude);

        // 지도 이동(기존 위치와 가깝다면 부드럽게 이동)
        map.panTo(currentPos);

        // 마커 생성
        var marker = new kakao.maps.Marker({position: currentPos});

        // 기존에 마커가 있다면 제거
        marker.setMap(null);
        marker.setMap(map);
      }

      function locationLoadError(pos) {
        alert('위치 정보를 가져오는데 실패했습니다.');
      }

      // 위치 가져오기 버튼 클릭시
      function getCurrentPosBtn() {
        navigator.geolocation.getCurrentPosition(locationLoadSuccess, locationLoadError);
        
      }
    </script>
  </body>