{% extends 'base.html' %}

{% block content %}
  <div class="search-box">
    <form action="{%url 'articles:search' %}" class="search d-flex" role="search" method="">
      <input type="text" style="display:none" autocomplete="off">
      <input type="password" style="display:none" autocomplete="off">
      <input class="form-control me-2" name="searched" type="search" placeholder="Search" aria-label="Search" autocomplete="off">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <div class="popular">
      <h4 class="text-center">인기 검색어</h4>
      <div class="popular-detail d-flex justify-content-evenly">
        <div class="area_keyword" style="">
        {% for p in popular%}
            {% if forloop.counter <= 5 %}
            <h6><a class="popular-click" href="{%url 'articles:search' %}?searched={{p.title}}"><span class="badge text-bg-warning">{{ forloop.counter }}</span> {{p.title}}</h6></a>
            {% endif %}
        {% endfor %}
        </div>
        <div class="area_keyword" style="">
        {% for p in popular%}
            {% if forloop.counter > 5 %}
              <h6><a class="popular-click" href="{%url 'articles:search' %}?searched={{p.title}}"><span class="badge text-bg-warning">{{ forloop.counter }}</span> {{p.title}}</h6></a>
            {% endif %}
        {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="container d-flex justify-content-center">
    <h1>{{v}}</h1>
  </div>
{% endblock %}