{% extends 'base.html' %}
{% load static %}

{% block content %}



<div class="container text-center">
  <div class="row justify-content-center">
    {% for board in boards %}
    <div class="col-12 col-md-6 col-xl-4">
      <div class="search-card card">
        <div class="search-card-image-box">
          {% for photo in board.photo_set.all  %}
          {% if forloop.first %}
          <img class="search-card-image" src="{{ photo.image.url }}" alt="">
          {% endif %}
          {% endfor %}
        </div>
        <div class="card-body">
          <h4 class="card-title fw-bold m-0">{{board.title}}</h4>
          <p class="m-0">written by. {{board.user.profile_name}}</p>
          <p class="date m-0 text-muted">{{board.updated_at|date:"Y-m-d"}}</p>
          <p class="m-0">{{board.place}} | {{board.theme}}</p>
          <p class="mb-3 text-muted">{{ board.like_users.count }} 명이 이 글을 좋아합니다</p>
          <a href="{% url 'articles:review_detail' board.pk %}" class="btn btn-warning">더 보기</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


<div class="row mt-2">
  <div class="col-12 my-5">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        {% if boards.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?searched={{ search }}&p={{ boards.previous_page_number }}">이전</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#">이전</a>
          </li>
        {% endif %}
        <li class="page-item">
          <a class="page-link" href="#">{{ boards.number }}
            /
            {{ boards.paginator.num_pages }}</a>
        </li>
        {% if boards.has_next %}
          <li class="page-item">
            <a class="page-link" href="?searched={{ search }}&p={{ boards.next_page_number }}">다음</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#">다음</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>


{% endblock %}

{% block script %}
{% endblock script %}